



.view-main{

    width: 100%;
    height: 1200px;
    background-color: rgb(221, 247, 243);
}

.view-innerbox{

      width: 100%;
      height: 400px;
      /* background-color: antiquewhite; */
      display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
     
}

.view-bak-btn{

     width: 130px;
     height: 30px;
     background-color: rgb(202, 208, 230);
     border: none;
     border-radius: 15px;
     font-weight: bolder;
     color: rgb(13, 13, 99);
     font-size: 10px;
     position: absolute;
     left: 200px;
}

.view-det-main{

      width: 100%;
      height: 100%;
      /* background-color: aqua; */
       display: flex;
       justify-content: center;
       align-items: center;
       margin-top: 50px;
}

.view-img-main{

    width: 400px;
    height: 100%;
    background-color: rgb(197, 203, 207);
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-text{

    width: 500px;
    height: 100%;
    /* background-color: rgb(219, 198, 39); */
    margin-left: 20px;


}

.view-text-btn{

    width: 50px;
    height: 20px;
    background-color: rgb(195, 195, 247);
    border: none;
    border-radius: 20px;
    color: rgb(6, 6, 91);
    font-size: 10px;
    font-weight: bolder;


}

.view-demo-img-main{

      width: 400px;
      height: 100px;
      /* background-color: aqua; */
      display: flex;
      margin-top: 20px;
}

.view-demo-img{
    width: 80px;
    height: 100%;
    /* background-color: antiquewhite; */
    margin-left: 10px;
    border-radius: 20px;
}

.view-demo-image{
    
    width: 100%;
    height: 100%;
    filter: blur(5px);
    border-radius: 20px;
    
}

.view-demo-image:hover{
    
    border: 2px solid rgb(245, 103, 200);
    filter: blur(0px);
}

.view-b-c-btn{

     width: 100px;
     height: 40px;
     background-color: rgb(44, 44, 127);
     border: none;
     border-radius: 20px;
     color: white;
     font-weight: bolder;
     margin-top: 20px;
     margin-left: 20px;
     font-size: 15px;


}

.footer-logo-main{

    width: 100%;
    height: 300px;
    /* background-color: aqua; */
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


