

.content-main{

    width: 100%;
    height: 900px;
    background-color:rgb(221, 247, 243);
}


.content-text-box-main{

    width: 100%;
    height: 50px;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-text-box{

    width: 200px;
    height: 30px;
    background-color: rgb(211, 211, 244);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.content-text{

    color: blue;
}

.ani{

    width: 200px;
    height: 100px;
    background-color: antiquewhite;
}

.tagline-box-main{

    width: 700px;
    height: 150px;
    /* background-color: aqua; */
    margin-left: 400px;
}


.box {
  width:95rem;
  height: 50rem;
  background-image: linear-gradient(to bottom, #b2c0d4, #b6d0da, #c5dddc, #dbe9e0, #f1f4ea);
  /* background-image: url("../../../public/Frame\ 3912.png"); */
  
  border-radius: 50rem 50rem 0 0;
 
  }

  .tagline-text{

    font-size: 50px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .circel-main-left{
    position: absolute;

      width: 200px;
      height: 200px;
      background-color: rgb(56, 7, 214);
      border-radius: 400px 1000px 400px 400px;
      left: 300px;
  }

  
  .circel-main-right{

    position: absolute;

      width: 200px;
      height: 200px;
      background-color: rgb(243, 162, 13);
      border-radius: 1000px 400px 400px 400px;
      right: 300px;
     
      


  }

  .image-left{

    position: absolute;
    left:300px;
    top: 350px;
    width: 180px;
    height: 200px;
  }


  .image-right{

    position: absolute;
    right: 300px;
    width: 180px;
    height: 200px;
    top: 350px;
     
  }

  .box-heding-box-main{

    width:100%;
    height: 400px;
    /* background-color: rgb(104, 104, 105); */
    padding-top: 200px;
 
}

.box-text{

    text-align: center;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.select{

    width: 350px;
    height: 50px;
    margin-left: 580px;
    margin-top: 50px;
    border-radius: 15px;
    border: 3px solid rgb(60, 60, 134);
}

.product-show-main{

     width: 500px;
     height: 350px;
     background-color: rgb(240, 138, 138);
     margin-left: 400px;
     display: flex;
     justify-content: space-evenly;
     flex-wrap: wrap;
     margin-top: 70px;
    
     
}





.product-box{
     width: 250px;
     height: 330px;
     /* background-color:rgb(119, 114, 114); */
     background-color:rgb(255, 253, 253);
     border-radius: 10px;
     padding-top: 10px;
     border-radius: 20px;
}

.product-box:hover{

    box-shadow: 0 0 5px #a3a1a1;

     
}




.products-img-box{

    width: 200px;
    height: 200px;
   
    margin-left: 25px;
    padding-top: 10px;


}

.new-box{


    width: 50px;
    height: 20px;
    background-color: rgb(207, 227, 245);
    border-radius: 10px;
    margin-left:140px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.pro-des{

     margin-top: 10px;
     font-size: 20px;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     margin-left: 10px;
}


.pro-under-box{

    width: 100%;
    height: 40px;
    /* background-color: aqua; */
    margin-bottom: 30px;
    display: flex;
    justify-content:space-around;
}


.grm-box{

     width: 50px;
     height: 20px;
     background-color: rgb(233, 233, 239);
     border-radius: 10px;
     margin-top: 10px;
     display: flex;
     justify-content: center;
     align-items: center;
}

.arrow-div{

      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color:rgb(180, 180, 247);
      display: flex;
      justify-content: center;
      align-items: center;
      
}


.last-btn-box{

    width: 100%;
    height: 100px;
    /* background-color: aquamarine; */
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.last-btn-tex{

    width: 200px;
    height: 50px;
    background-color: rgb(46, 46, 135);
    border-radius: 10px;
   color: white;
   font-weight: bold;
   margin-top: 50px;

}

.last-tag-line{

    text-align: center;
    margin-top: 100px;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;



}


.resepe-box-main{


     width: 100%;
     height: 500px;
     /* background-color: aqua; */
}

.resepe-box-hed-text{

    margin-left: 300px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blue;
}

.resepe-box-box-text{

      color: blue;
      margin-left: 20px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      background-color: rgb(190, 190, 248);
      border-radius: 10px;
      font-size: 10px;
    
    }


    .respe-des-box-main{

   width: 100%;
   height: 280px;
   /* background-color: rgb(236, 181, 17); */
   display: flex;
   justify-content: center;
   align-items: center;


}



.respe-des-box{

    width: 350px;
    height: 250px;
    background-color: rgb(8, 8, 141);
    border-radius: 10px;


}

.respe-image-box{

    width: 200px;
    height: 250px;
    background-color: antiquewhite;
    margin-left: 10px;
    border-radius:10px;
    



}


.footer-icon-box-main{

    width: 100%;
    height: 200px;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-main{

    width: 100%;
    height: 400px;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;

}


.footer-detailbox{

    width: 1000px;
    height: 320px;
    background-color: #b2c0d4;
    border-radius: 10px;
    border-radius: 15px;
    
}


.footer-btn{

     width: 80px;
     height: 25px;
     background-color: rgb(169, 169, 234);
     margin-left: 10px;
     border-radius: 10px;
     color: rgb(6, 6, 110);
     border: none;
     font-weight: bolder;
}


.last-box-main{

    width: 950px;
    height: 50px;
    background-color: white;
    border-radius: 20px;
    margin-left: 25px;
    display: flex;
    
}

.last-text-box{

    width:700px;
    height: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    
}

.last-icon-box{

    width: 300px;
    height: 100%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
}

.footer-icons{
    margin-left: 20px;
    color:rgb(117, 119, 121) ;

    

    
}

.footer-new-text{

    color:rgb(138, 138, 225) ;
  }

